<% content_for :secondary_nav do %>
   <% render 'list_new' %>
<% end %>
<h1>Listing components</h1>

<table class="table">
  <tr>
    <th>Plan</th>
    <th>Part number</th>
    <th>Description</th>
    <th>Supplier</th>
    <th>Unit cost</th>
    <th>Loading rate</th>
    <th>Power draw</th>
    <th>Lead time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @components.each do |component| %>
  <tr class=<%= cycle('odd', 'even')%>>
    <td><%= component.plan_id %></td>
    <td><%= component.part_number %></td>
    <td><%= component.description %></td>
    <td><%= component.supplier %></td>

    <td><%= component.unit_cost %></td>
    <td><%= component.loading_rate %></td>
    <td><%= component.power_draw %></td>
    <td><%= component.lead_time %></td>
    <td><%= link_to 'Show', plan_component_path(@plan, component) %></td>
    <td><%= link_to 'Edit', edit_plan_component_path(@plan, component) %></td>
    <td><%= link_to 'Destroy', [@plan, component], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Component', new_plan_component_path %>
