<% content_for :secondary_nav do %>
   <% render 'list_new' %>
<% end %>
<h1>Listing plans</h1>

<table class="table">
  <tr>
    <th>Location</th>
    <th>Version</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plans.each do |plan| %>
  <tr class=<%= cycle('odd', 'even')%>>
    <td><%= plan.location %></td>
    <td><%= plan.version %></td>
    <td><%= plan.description %></td>
    <td><%= link_to 'Show', plan %></td>
    <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
    <td><%= link_to 'Destroy', plan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
