<% content_for :secondary_nav do %>
   <% render 'show_edit' %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @plan.location %>
</p>

<p>
  <b>Version:</b>
  <%= @plan.version %>
</p>

<p>
  <b>Description:</b>
  <%= @plan.description %>
</p>

<p>
  <b>Notes:</b>
  <%= @plan.notes %>
</p>