<% content_for :secondary_nav do %>
   <% render 'assemblies/show_edit' %>
<% end %>
<h1>Add line_items</h1>

<table class="table">
  <tr>
    <th>Part Number</th>
    <th>Description</th>
    <th>Unit Cost</th>
    <th></th>
  </tr>

<% @available_components.each do |component| %>
  <tr class=<%= cycle('odd', 'even')%>>
    <td><%= component.part_number %></td>
    <td><%= component.description %></td>
    <td><%= component.unit_cost %></td>

    <td><%= button_to 'Add to Assembly', plan_assembly_line_items_path(@plan, @assembly, component_id: component) %>
  </tr>
<% end %>
</table>

# need to set up the assembly var by before filter find assembly