<p id="notice"><%= notice %></p>

<p>
  <b>Assembly:</b>
  <%= @line_item.assembly_id %>
</p>

<p>
  <b>Component:</b>
  <%= @line_item.component_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @line_item.quantity %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
