<%= form_for [@plan, @assembly] do |f| %>
  <% if @assembly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assembly.errors.count, "error") %> prohibited this assembly from being saved:</h2>

      <ul>
      <% @assembly.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :package_id %><br />
    <%= f.select :package_id,  options_for_select([["unassigned", nil]] + @plan.packages.collect{ |p| [p.name, p.id]}, @assembly.package_id)%>
  </div>
    <div class="field">
        <%= f.label :used %><br />
        <%= f.check_box :used %>
      </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
