<!DOCTYPE html>
<html>
<head>
  <title>5gsi Estimator</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
        <h1><%= link_to @plan.location +  " | " + @plan.version, @plan %></h1>
      <div id="user-navigation">

        <ul class="wat-cf">
          <%= render 'shared/plan_user_navigation' %>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <%=  render 'shared/plan_nav' %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <div class="block" id="block-text">
        <div class="content">
          <div class="secondary-navigation">
            <ul class="wat-cf">
              <%= yield :secondary_nav %>
            </ul>
          </div>

          <div class="inner">
            <%= yield %>
          </div>

          </div>
        </div>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> 5gsi.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
